html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.ui-container {
  height: 610px;
  width: 600px;
  display: inline-block;
  padding: 20px 100px 0 90px;
  margin-left: 200px;
  background-color: gainsboro;
}

.search-container {
  background-color: lightsteelblue;
  position: absolute;
  height: 30px;
  padding-top: 10px;
  left: 0;
  right: 0;
  top: 0;
}

.heading {
  padding-top: 10px;
}

.input {
  float: right;
  margin-right: 23%;
}

.days-container {
  margin-top: 3%;
  width: 700px;
}

.day-item {
  padding: 10px;
  display: inline-block;
  float: left;
}

.info {
  border: solid;
  background-color: lightsteelblue;
  height: 100px;
  width: 100px;
  text-align: center;
}

.day-heading {
  text-align: center;
}

.day-description {
  font-size: 10px;
}
